@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'jetbrainsmono nerd font';
}

window#waybar > box {
  background-color: @background;
  /* margin-top: 20px; */
  /* padding-top: 20px; */
  /* border-radius: 8px; */
  /* padding-bottom: 0; */
  /* padding-top: 10px; */
}

.modules-left {
  margin-left: 18px;
  font-size: 14px;
}

.modules-right {
  margin-right: 18px;
  font-size: 15px;
}

.modules-center {
  font-size: 15px;
}

#workspaces button {
  all: initial;
  padding: 0 6px 2px 6px;
  margin: 0 4px;
  min-width: 8px;
  font-size: 14px;
  font-weight: normal;
}

#workspaces button.empty {
  opacity: 0.35;
}

#custom-omarchy {
  margin-left: 0;
  margin-right: 12px;
}


#battery,
#pulseaudio,
#cpu,
tray,
#bluetooth,
#network,
#custom-expand-icon,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 13px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 14px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
