@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: 'jetbrainsmono nerd font';
  font-size: 15px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 4px;
  min-width: 8px;
  font-size: 7px;
  font-weight: normal;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-omarchy {
  margin-left: 0;
  margin-right: 12px;
}

#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 14px;
}

#battery {
  margin-left: 10px;
  margin-right: 14px;
}

#pulseaudio {
  margin-right: 28px;
}

#cpu {
  margin-right: 12px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 26px;
}

#network {
  margin-right: 30px;
}

#custom-expand-icon {
  margin-right: 26px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 11px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
